parameters:
  bobv.latex.generator.class: BobV\LatexBundle\Generator\LatexGenerator
  bobv.latex.twig.extension.class: BobV\LatexBundle\Twig\BobVLatexExtension
  bobv.latex.editor.class: BobV\LatexBundle\Form\Type\LatexType
  bobv.latex.cache_dir: "%kernel.cache_dir%"
  bobv.latex.max_age: -1 day

services:
  bobv.latex.generator:
    class: "%bobv.latex.generator.class%"
    arguments: [ "%bobv.latex.cache_dir%", "%kernel.environment%" ,"@twig", "%bobv.latex.max_age%" ]

  bobv.latex.twig.extension:
    class: "%bobv.latex.twig.extension.class%"
    tags:
      - { name: twig.extension }

  bobv.latex.editor:
    class: "%bobv.latex.editor.class%"
    tags:
      - { name: form.type, alias: bobv_latex }
